<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <!-- Welcome Message -->
        <h1 class="text-center bg-warning text-light mb-3">Welcome to TMS!</h1>

        <!-- Description of TMS -->
        <h3>You've reached the best tasks management system!</h3>
        <h5>In here, you will be able to insert your task and mark it as completed when you're done.</h5>
        <h5>Remember, being organized is the first stage for success.</h5>
        <br>

        <!-- Register Button -->
        <a href="/users/register" class="btn btn-warning btn-block mb-2">Register</a>

        <!-- Login Button -->
        <a href="/users/login" class="btn btn-warning btn-block">Login</a>
      </div>
    </div>
  </div>
</body>

</html>
